# environments
.sat_enviroment
radar_env/
.venv


# Byte-compiled / optimized / DLL files
figures/__pycache__/
process/__pycache__/
readers/__pycache__/


# file containing credentials
credentials.py
readers/s3_buckets_credentials.py


# files monitoring running processes
radar_de_process_2023_2022.txt
bash_script_out.txt